/* DemoPage.css */
.dropzone-card {
  border: 2px dashed #adb5bd;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 20px;

  & h4 {
    font-size: 24px;
    font-weight: 400;
  }
}

.dropzone-card:hover {
  border-color: #0d6efd;
  background-color: rgba(13, 110, 253, 0.05);
}

.dropzone-card.dragging {
  border-color: #0d6efd;
  background-color: rgba(13, 110, 253, 0.1);
  transform: scale(1.01);
}

.dropzone {
  outline: none;
}

.progress {
  height: 25px;
  border-radius: 12px;
}

.progress-bar {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-card {
  transition: all 0.3s ease;
  border: 1px solid #dee2e6;
}

.option-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-lg {
  padding: 0.5rem 1.5rem;
  font-weight: 500;
}

.cv-uplodaer-tabs {
  border-bottom: 0px solid var(--primary-color);
  gap: 4px;
}
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px 6px 0px 0px;
  border-bottom: none;
  padding-bottom: 7px;
  font-weight: 400;
  border-radius: 6px 6px 0px 0px;
  background-color: #fff;
}

.nav-underline .nav-link,
.nav-underline .show > .nav-link {
  color: #000000;
  padding: 6px 14px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #0000;
}
.nav-underline .nav-link:hover,
.nav-underline .show > .nav-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px 6px 0px 0px;
  border-bottom: none;
  padding-bottom: 7px;
  font-weight: 400;
  background: #fff;
}
/* .upload-section{
    border: 1px dashed rgb(249, 13, 13) !important;
  } */

.photo-upload {
  height: 144px;
  background-color: #f8f9fa;
  border-radius: 6px;
  cursor: pointer;
  color: #888;
}

.form-control,.form-select {
  background-color: #f4f4f4;
  border: 1px solid #e0e0e0;
  box-shadow: none;
}

.form-control:focus,
.form-select:focus {
  background-color: #fff;
  border-color: #ccc;
}

.field-button {
  font-size: 13px;
  border-radius: 6px;
}

.form-label {
  margin-bottom: 2px;
  font-size: 13px;
}

.form-control,
.form-select {
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  box-shadow: none;
  font-size: 14px;
  padding: 8px 16px;
}

.form-control:focus,
.form-select:focus {

  box-shadow: none;
  outline: none;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
}

.accordion {
  margin-top: 30px;
}

.accordion-item {
  border: none;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 0px;

  & .accordion-body {
    padding: 24px 1rem 30px;
  }

  & .accordion-button {
    background: #fff !important;
    border: none;
    box-shadow: none;
    padding: 24px 64px 24px 16px;
    font-size: 18px;
    font-weight: 500;
    position: relative;

    & .add-btn,
    & .down-btn {
      position: absolute;
      right: 16px;
      top: 19px;
      border: 1px solid #8f8e8e;
      border-radius: 6px;
      padding: 3px;

      & svg {
        stroke: #8f8e8e;
      }
    }

    & .add-btn {
      display: none;
    }

    & .down-btn {
      display: block;
    }

    &::after {
      content: unset;
    }

    &:hover {
      & .add-btn,
      & .down-btn {
        border: 1px solid var(--primary-color);
        background-color: var(--primary-hover-color);

        & svg {
          stroke: var(--primary-color);
        }
      }
    }
  }

  & .accordion-button.collapsed {
    & .add-btn {
      display: block;
    }

    & .down-btn {
      display: none;
    }
  }
}

.accordion-item:first-child {
  border-top: 1px solid #e3e3e3;
}

.nav-underline .nav-link:focus,
.nav-underline .nav-link:hover {
  border-bottom-color: rgb(0 0 0 / 0%);
}

.cv-uplodaer-tabs::after {
  margin-top: -5px;
  content: "";
  background: var(--primary-color);
  width: 100%;
  height: 1px;
  z-index: -1;
}

.cv-template-button {
  width: 100%;
  padding: 0px;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 8px;
  flex-grow: 1;

  & img {
    aspect-ratio: 8/9;
    width: 100%;
    border-bottom: 1px solid;
  }
}


.btn-primary{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary{
  color: var(--primary-color);
  border-color: var(--primary-color);
}